.containerheroimg {
  width: 100%;
  max-width: 1580px;
  margin: 0 auto;
  height: 730px; /* DESKTOP HEIGHT */
  overflow: hidden;
  position: relative;
}

.heroImage {
  width: 100%;
  height: 100%;
  object-fit: cover; /* IMPORTANT */
}

.carouselOverlay {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  top: 130px;
  padding-left: clamp(24px, 6vw, 64px);
}

.overlayWrapper {
  position: relative;
  width: 600px;
  height: 350px;
  border-radius: 12px;
  overflow: hidden;
}

.overlayImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}

.overlayText {
  position: absolute;
  inset: 0;
  display: flex;
  top: -90px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: black;
  padding: 12px;
}

.overlayText h2 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 6px;
}

.overlayText p {
  padding-top: 0;
  margin-top: 0;
  font-size: 24px;
}

.aboutSection {
  background: #f8f9fa;
  border-radius: 12px;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  align-items: center; /* centers content horizontally */
  text-align: center; /* centers text */
  padding: 14px 120px;
  /* margin: 40px 0; */
}

.aboutSection h2 {
  margin-bottom: 0;
  font-size: 34px;
  color: rgb(6, 6, 101);
  font-weight: 900;
}

.aboutSection p {
  max-width: 2000px; /* limits the width for better readability */
  margin-bottom: 12px;
  font-size: 18px;
  font-weight: 500;
}

/* TABLET */
@media (max-width: 1024px) {
  .containerheroimg {
    height: 720px;
  }
}

/* MOBILE */
@media (max-width: 640px) {
  .containerheroimg {
    height: 38vh;
  }

  .carouselOverlay {
    justify-content: center;
    padding-left: 0;
    top: -400px;
  }

  .overlayWrapper {
    width: 290px;
    height: 190px;
  }

  .overlayText {
    top: 0;
  }

  .overlayText h2 {
    font-size: 28px;
  }

  .overlayText p {
    font-size: 15px;
  }

  .aboutSection {
    padding: 14px 50px;
  }
}

.statsSection {
  width: 100%;
  background-color: #bfc6c8; /* light grey like your image */
  padding: 75px 150px;
  margin-top: 30px;
}

.statsContainer {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.statItem {
  flex: 1;
  text-align: center;
  color: #ffffff;
}

.statItem img {
  height: 150px;
}

.statItem p {
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1.2;
}

/* ---------- TABLET ---------- */
@media (max-width: 900px) {
  .statsContainer {
    gap: 20px;
  }

  .statItem img {
    height: 60px;
  }

  .statItem p {
    font-size: 16px;
  }
}

/* ---------- MOBILE ---------- */
@media (max-width: 600px) {
  .statsSection {
    padding: 50px 100px;
    margin-top: 26px;
  }
  .statsContainer {
    flex-direction: column;
  }

  .statItem img {
    height: 120px;
  }

  .statItem p {
    font-size: 22px;
  }
}
