@import "@/styles/variables.css";

.container {
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
}

.heading {
  font-size: 44px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-top: 30px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 80px;
  max-width: 1200px;
  margin: 0 auto;
}

.card {
  background: var(--white);
  padding: 14px;
  border-radius: var(--radius);
  box-shadow: var(--card-shadow);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 280px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.productImage {
  width: 100%;
  height: 230px;
  object-fit: fill;
  border-radius: 6px;
  /* background: #f9fafb; */
}

.small {
  font-size: 14px;
  color: var(--muted);
  margin-top: 4px;
}

.actions {
  margin-top: 12px;
  width: 100%;
}

.btnprimary {
  display: inline-block;
  width: 100%;
  padding: 10px 14px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 700;
  background: var(--brand);
  color: var(--white);
  transition: all 0.3s ease;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.btnprimary:hover {
  background: rgb(84, 84, 255);
  transform: translateY(-2px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
}

/* Responsive Typography */

@media (max-width: 600px) {
  .grid {
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 30px;
  }
  .heading {
    margin-bottom: 15px;
    padding-top: 0;
    padding-left: 0;
    font-size: 28px;
    color: var(--brand);
  }

  .card {
    width: 330px;
  }
}

@media (max-width: 110px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 80px;
    max-width: 1200px;
    margin: 0 auto;
  }
}
