.container {
  padding: 20px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
}

.list a {
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 10px;
  text-decoration: none;
  color: #000;
  font-weight: 600;
}
